# ENV files (client + server)
.env
.env.*
!.env.example

# Node (client/server)
node_modules/
dist/
build/

# Python (FastAPI server)
__pycache__/
*.pyc
venv/
env/
.venv/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage
coverage/